<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
  
</head>
<body>
  <header>
    <div class="Headerwrap">
      <div class="logo">
        Book Recommendation System
      </div>
      <nav>
        <ul>
          <li>
            <a href="charts">
              Charts
            </a>
          </li>
          <li>
            <a href="home">
              Home
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </header>


  <div class="user_guide_para">
    <p>
       This Book Recommendation System is designed to suggest you the next good book you should read.
       Visit our homepage, there you will find a search bar. Select your favourite one amoung 5500+ books.
       On selecting a book name from our dropdown list you will get the details of our top 12 recommendations.
    </p>

  </div>
  <div  class="imgWrap">
  <img   src="/static/images/user_guide.png" alt="Flow_Chart">
  </div>
  
  
  </body>
  </html>